# Ignore build artifacts and binaries
webproxy-lab/proxy
webproxy-lab/tiny/tinyserver
webproxy-lab/*.o
webproxy-lab/tiny/*.o
webproxy-lab/core
webproxy-lab/*.tar
webproxy-lab/*.zip
webproxy-lab/*.gz
webproxy-lab/*.gzip
webproxy-lab/*.bzip
